@media screen and (max-width:768px){


    // HEADER----------------------------------------------
    .header{
        &-inner{
            padding-left: 4vw;
            padding-right: 4vw;

            .header-nav{
                display: none;
            }

            .burger-btn{
                display: block;
                position: absolute;
                // top: 0;
                right: 4vw;
            }

            .burger-btn .bar{
                display: block;
                height: 3px;
                width: 30px;
                background-color: black;
            }

            .bar-top,
            .bar-mid{
                margin-bottom: 8px;
            }
        }
    }

    // FV--------------------------
    .fv{
        &-inner{
            background-image: url("../img/154770206_776366579925732_3287881624628034762_n.jpeg");
            background-position: center;
            background-size: contain;
            background-blend-mode:lighten;
            background-color:rgba(255,255,255,0.8);


            .fv-left{

            }

            .fv-right{
                display: none;
            }
        }
    }

    .concept{
        &-inner{
            padding: 0 4vw;
        }

        .concept-discription{
            display: block;

            .concept-brand{
                width: 100%;

                .brand-title{
                    font-size: 25px;
                    font-style: italic;
                }

                .brand-profile{

                    .brand-sns{
                        font-size: 40px;
                        justify-content: space-between;
                        width: 30%;
                    }
                }
            }
        }
    }

    // MAP-----------------------------------
    .map{

        &-inner{
            padding: 0 4vw;


            .map-discription{
                display: block;

                &-left{
                    width: 100%;
                    text-align: center;
                    padding-bottom: 50px;
                }

                &-right{
                    width: 100%;
                }
            }
        }
    }

    .contact{

        .contact-inner{
            padding: 0 4vw;
        }
    }











    .only-responsivebr{
        display: block;    }
}