@media screen and (max-width:768px){


    // HEADER----------------------------------------------
    .header{
        &-inner{
            padding-left: 4vw;
            padding-right: 4vw;

            .header-nav{
                display: none;
            }

            .burger-btn{
                display: block;
                position: absolute;
                // top: 0;
                right: 4vw;
                // top: 15px;
                z-index: 13;
                transition: all .5s;

            }

            .burger-btn .bar{
                display: block;
                height: 3px;
                width: 30px;
                background-color: black;
                transition: all .5s;
            }

            .bar-top,
            .bar-mid{
                margin-bottom: 8px;
            }

            .burger-btn.close .bar-top{
                transform: rotate(45deg) translate(8px,8px);
                border-color: white;
                transition: all .5s;
                background-color: white;
            }
            .burger-btn.close .bar-mid{
                opacity: 0;
                transition: all opacity .3s;
                border-color: white;
            }
            .burger-btn.close .bar-bot{
                transform: rotate(-45deg) translate(8px,-8px);
                transition: all .5s;
                border-color: white;
                background-color: white;
            }
        }

        .header-nav-res{
            display: block;
            // background-image: url("../img/pexels-scott-webb-2117938.jpg");
            background-image: url("../img/mathias-p-r-reding-3GwOfh-VMgQ-unsplash2.jpg");
            background-size: cover;
            background-color: black;
            background-blend-mode: luminosity;
            // background-position: center;
            background-position: (10%,0);
            height: 100vh;
            width: 60%;
            margin: 0 0 0 auto;
            padding: 0;
            z-index: 9;
            position: fixed;
            top:0;
            right: 0;
            color:white;
            right: -60%;
            transition: 0.3s;

            &-list{
                padding-top: 30px;
                padding-left: 10vw;

                &-items{
                    line-height: 5;
                    a{
                        color: white;
                    }
                }
            }
        }
    }

    // ハンバーガーメニュー時のへっだーnav---------------ーーー


    .header-nav-res.active{
        right: 0 !important;
        transition: 0.3s;
    }


    // FV--------------------------
    .fv{
        &-inner{
            background-image: url("../img/154770206_776366579925732_3287881624628034762_n.jpeg");
            background-position: center;
            background-size: contain;
            background-blend-mode:lighten;
            background-color:rgba(255,255,255,0.8);
            padding-top: 30px;
            text-shadow: none;

            .fv-left{

            }

            .fv-right{
                display: none;
            }
        }
    }

    .concept{
        &-inner{
            padding: 0 4vw;
        }

        .concept-discription{
            display: flex;
            flex-direction: column;
            align-self: stretch;
            align-items: stretch;

            .concept-brand{

                width: 100%;
                padding-left: 15px;
                padding-right: 15px;
                align-self: stretch;
                align-items: stretch;

                .brand-title{
                    font-size: 25px;
                    font-style: italic;
                }

                .brand-profile{

                    .brand-sns{
                        font-size: 40px;
                        justify-content: space-between;
                        width: 30%;
                    }
                }

                .brand-text{

                }
            }
        }
    }

    // MAP-----------------------------------
    .map{

        &-inner{
            padding: 0 4vw;

            .map-title{
                font-size: 35px;
            }

            .map-discription{
                display: block;
                font-size: 15px;

                &-left{
                    width: 100%;
                    text-align: center;
                    padding-bottom: 50px;
                    font-weight: bold;
                    padding-top: 9%;
                }

                &-right{
                    width: 100%;
                }
            }
        }
    }

    .shop{
        &-inner{
            .shop-discription{
                &-left{
                    font-size: 15px;
                }
            }
        }
    }

    .contact{

        .contact-inner{
            padding: 0 4vw;
        }
    }

    footer{
        font-size: 70%;
    }











    .only-responsivebr{
        display: block;
    }
}

@media screen and (max-width:500px){
    .only-responsivebr-500{
        display: block;
    }

    .shop-discription{
        // text-align: center !important;
    }
}

@media screen and (max-width:375px){
    .fv{
        margin-top: 30px;
    }

    .only-responsivebr-375{
        display: block;
    }
}