body{
    font-family: "Nato Serif", 'Noto Serif JP', serif;
    margin: 0 auto;
    overflow-x: hidden;
}

img{
    width: 100%;
    height: 100%;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

.section-inner{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

.title{
    font-size: 35px;
    font-weight: bold;
    padding-top: 130px;
    // padding-bottom: 100px;
}

.fa-instagram{
    background: -webkit-linear-gradient(135deg, #85acff 0%, #f13f79 70%);//背景色にグラデーションを指定
        -webkit-background-clip: text;//テキストでくり抜く
        -webkit-text-fill-color: transparent;//くり抜いた部分は背景を表示
}


// HEADER---------------------------------------
.header{
    width: 100%;
    vertical-align: middle;
    // background-color: gray;
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    transition: .5s;


    &-inner{
        transition: .5s;
        padding: 0 20px;
        display: flex;
        // width: 80%;
        max-width: 1000px;
        width: 100%;
        align-items: center;
        margin: 0 auto;
        padding-left: 20px;
        padding-right: 20px;
        justify-content: space-between;
        &-title{
            transition: .5s;
            font-style: italic;
            font-size: 20px;

            img{
                height: 80px;
                width: auto;
                vertical-align: middle;
            }
        }

        .header-nav{
            .header-list{
                display: flex;

                .header-item{
                    padding-left: 25px;
                }
            }
        }

        .header-nav-res{
            display: none;
        }

        .burger-btn{
            display: none;
            z-index: 15;
        }
    }
}

.fixed{
    position: fixed;
    background-color:whitesmoke;
    width: 100%;
    transition: .5s;
}

.header-active{
    background-color: none !important;
}

.bglayer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background: #000;
    opacity: 0.3;
    z-index: 3;
    transition: 0.3s;
}

.bglayer.open{
    transition: 0.3s;
}

// FV=--------------------------------------------
.fv{
    height: 100vh;
    min-height: 550px;
    position: relative;
    background-image: url("../img/pexels-henry-&-co-2341290.jpg");
    background-position: center;
    background-size: cover;
    text-shadow: 4px 4px 4px #000;
    text-shadow: 4px 4px 20px #000;

    .fv-inner{
        display: flex;
        // justify-content: center;
        align-items: center;
        justify-content: space-between;
        max-width: 1000px;
        padding: 0 50px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        padding: 0 20px;

        .fv-left{
            letter-spacing: 3px;
            .fv-title{
                font-size: 30px;
                padding-bottom: 8px;


                span{
                    font-size: 15px;
                }
            }

            .fv-contents{
                line-height: 50px;

                .fv-time{
                    font-size: 20px;
                    font-weight: bold;
                }

                .fv-date{
                    font-size: 20px;
                    font-weight: bold;
                }

                .fv-place{
                    &-name{

                    }

                    .fv-place-button{
                        border: 1px solid black;
                        padding: 8px 15px;
                        box-shadow: 2px 2px 4px gray;
                        transition: .3s;

                        &:hover{
                            opacity: .3;
                            transition: .3s;
                        }
                    }
                }
            }
        }

        .fv-right{
            .fv-right-img{
                width: 300px;
                height: 300px;
            }
        }
    }
}

// CONCEPT----------------------------------------------
.concept{
    background-image: url("../img/pexels-nataliya-vaitkevich-4641825.jpg");
    background-size: cover;
    background-position: center;
    padding-bottom: 100px;
    &-inner{
        padding: 0 20px;
        .concept-title{
            text-align: center;
            padding-bottom: 80px;

        }

        .concept-discription{
            display: flex;
            justify-content: space-between;

            .concept-brand{
                color: black;
                background-image: url("../img/Kizui_regular_imgs/kizui斜め(新オリジナル)5.png");
                background-color:rgba(255,255,255,0.8);
                background-blend-mode:lighten;
                background-size: contain;
                background-position: center;
                width: 30%;
                // height: 370px;
                align-self: stretch;
                border: 1px solid black;
                padding-left: 2%;
                padding-right: 2%;
                padding-top: 10px;
                padding-bottom: 40px;
                .brand-title{
                    padding-top: 10px;
                    text-align: center;
                    color: black;
                    padding-bottom: 10px;
                }

                .brand-profile{
                    display: flex;
                    align-items: center;

                    .person-img{
                        width: 100px;
                        height: 100px;

                        img{
                            border-radius: 50%;
                            object-fit: cover;
                            box-shadow: black;
                        }
                    }

                    .brand-sns{
                        margin: 0 auto;
                        display: flex;
                        justify-content: space-around;
                        font-size: 30px;
                        text-shadow: 4px 4px 4px #a0a0a0;
                        .twitter-icon{

                            .fa-twitter{
                                color: #00acee;
                            }
                        }

                        .instagram-icon{
                            padding-left: 50%;
                        }

                    }
                }

                .brand-text{
                    padding-top: 18px;
                    color: black;
                    letter-spacing: 3px;
                    line-height: 30px;
                    font-weight: bold;

                }


            }
        }
    }
}

#share{
    background-image: url("../img/Kizui_regular_imgs/IMG_9426.PNG");
    background-position: center;
    background-size: contain;

    .brand-profile{
        .person-img{
            img{
                zoom: 1.4;
            }
        }
    }
}

#kushira{
    background-image: url("../img/Kizui_regular_imgs/kushira.png");
    background-position: center;
    background-size: contain;

    img{
        zoom: 1.5;
    }
}
// MAP-------------------------------------------------------------
.map{
    background-image: url("../img/rental03-1024x724.jpeg");
    background-position: center;
    background-size: cover;
    padding-bottom: 100px;
    &-inner{
        max-width: 1000px;
        margin: 0 auto;
        padding: 0 20px;
        .map-title{
            text-align: center;
        }

        .map-discription{
            display: flex;
            justify-content: space-between;
            padding-top: 50px;

            &-left{
                width: 40%;
                line-height: 30px;
                letter-spacing: 3px;
                padding-top: 10%;
                .map-name{
                    font-size: 30px;
                    padding-bottom: 20px;
                }
            }

            &-right{
                position: relative;
                width: 60%;

                .google-map{
                    height: 0;
                    padding-top:75%;

                    .google-map-iframe{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }

    }
}

.shop{
    background-image: url("../img/FireShot Capture 003 - kizui shop（キズイショップ） 古着・古着リメイクブランドSHOP - kizui.theshop.jp.png");
    background-position: center;
    background-color:rgb(221, 221, 221);
    background-size:cover;

    background-blend-mode: lighten;
    padding-bottom: 100px;
    background-position: 50% 10%;

    .shop-inner{
        max-width: 1000px;
        margin: 0 auto;
        padding: 0 20px;
        text-align: center;

        .shop-title{
            padding-bottom: 80px;
        }

        .shop-discription{
            // display: flex;
            // justify-content: space-between;
            // text-align: left;
            font-size: 20px;
            line-height: 50px;
            text-align: left;

            &-left{
                padding-bottom: 50px;
                letter-spacing: 3px;
                text-shadow: 3px 3px 20px #000;
                a{
                    border: solid;
                }
            }

            &-right{
                p{
                    padding: 20px;
                    border:1px solid;
                    text-align: center;
                    border-radius: 3px;
                    background-color: white;
                    box-shadow: 2px 2px 3px gray;

                    &:hover{
                        color: white;
                        background-color: gray;
                        transition: .3s;
                        box-shadow: 2px 2px 4px white;
                    }
                }
            }
        }



    }
}

// CONTACT----------------------------------------------------
.contact{
    // background-image: url("../img/pexels-pixabay-459486.jpg");
    background-image: url("../img/bg-imgs/fernando-lavin-fi5YSQfxbVk-unsplash.jpg");
    // background-position: (65%,0%);
    background-color: #8481a7;    background-position: top;
    background-blend-mode:hard-light;
    background-size: cover;
    text-align: center;
    padding-bottom: 100px;
    position: relative;
    text-shadow: -4px 4px 4px #000;

    // &::before{
    //     background: inherit;
    //     content: "";
    //     filter: blur(5px);
    //     position: absolute;
    //     top: -5px;
    //     right: -5px;
    //     bottom: -5px;
    //     left: -5px;
    // }

    .contact-inner{
        max-width: 1000px;
        margin: 0 auto;


        .contact-title{
            padding-bottom: 30px;
            color: white;
        }

        .contact-discription{
            color: white;
            .contact-text{
                padding-bottom: 20px;
                letter-spacing: 3px;
            }

            .sns-icons{
                display: flex;
                justify-content: center;
                font-size: 50px;
                text-shadow: -4px 4px 6px #636262;

                .twitter-icon{
                    padding-right: 5%;
                }

                .fa-twitter{
                    color: #00acee;
                    padding-right: 20%;
                }

                .instagram-icon{
                    padding-left: 5%;
                }

                .fa-instagram{
                    color: palevioletred;
                    padding-left: 5%;
        //             background: -webkit-linear-gradient(135deg, #ffffff 0%, #f13f79 70%);//背景色にグラデーションを指定
        // -webkit-background-clip: text;//テキストでくり抜く
        // -webkit-text-fill-color: transparent;//くり抜いた部分は背景を表示
                }
            }
        }
    }
}




// footer----------------------------------
.footer{
    background-color: black;
    text-align: center;
    small{
        color: white;
        text-align: center;
        line-height: 50px;
    }
}


// レスポンシブオンリーーーーーーーーーーーーーーーーーーーーー
.only-responsivebr{
    display: none;
}

.only-responsivebr-375{
    display: none;
}

.only-responsivebr-500{
    display: none;
}

// js追加クラスーーーーーーーーーーーーーーーーーーーーーーー
.open{
    display: block;
}

.header-active{
    background-color: none !important;
}